* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family:'Courier New'
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

.text-primary {
    color: blue;
}

#navbar {
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: rgb(69, 255, 255);
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: black;
}
  
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
  
h1 {
    font-size: 3rem;
}
  
h2 {
    font-size: 2rem;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: black;
}
  
img {
    display: block;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
  
.nav-list {
    display: flex;
    margin-right: 2rem;
}
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }
  
  .nav-list a:hover {
    background: aqua;
  }
  
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, rgb(69, 255, 255) 0%, #181719 100%);
  }
  
  .welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: white;
  }

  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: lightgrey;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem lightgrey;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: blue;
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: black;
  }
  
  .btn-show-all {
    font-size: 2rem;
    background: black;
    color: white;
    transition: 0.3s ease-out;
  }
  
.btn-show-all:hover {
    background: white;
    color: #000;
}

  
.btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
.work-section {
    background-image: linear-gradient(62deg, aqua 30%, #181719 100%);
  }
.project-title {
    background-color: grey;
    text-align: center;
  }